/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}
section nav a img#logo-greesy { 
    max-width: 10em;
    max-height: 10em;
    margin: 0 1rem;
    cursor: pointer;
}

section nav img#logo-greesy { 
    max-width: 10em;
    max-height: 10em;
    margin: 0 1rem;
    cursor: pointer;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

#titre-navbar{
    font-size: 2em;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 100;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-links li:hover {
    background-color: #555;
    border-radius: 8px;
}

/* responsive navbar */

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }
    
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 10%;
    margin: 2em;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  section div#cards-container{
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

/* Page de connexion */
section div#connexion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 2rem;
}

section div img#logo-greesy-connexion{
    width: 50%;
    height: 50%;
}

