<section id="body">
    <div id="cards-container">
        <div class="card">
            <img src="assets/images/card-logo.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Point de collecte N°1</b></h4> 
                <p style="color: green;">43%</p>
                <p>Biviers</p> 
            </div>
        </div>
        <div class="card">
            <img src="assets/images/card-logo.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Point de collecte N°2</b></h4> 
                <p style="color: orange;">62%</p>
                <p>Corenc</p> 
            </div>
        </div>
        <div class="card">
            <img src="assets/images/card-logo.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Point de collecte N°3</b></h4> 
                <p style="color: red;">90%</p>
                <p>Saint Ismier</p> 
            </div>
        </div>
    </div>
    
</section>